/* 
Template: Default
Description: WP-Lister default template
Version: 1.2.1
*/

    /* user colors */
    #wpl_store_header .hotline {
        color: $hotline_color;
        background-color: $hotline_bgcolor;
        display: $display_hotline;
    }

    #wpl_wrapper .wpl_description h2 {
        color: $title_color;
    }

    #wpl_wrapper h3.bar {
        color: $section_head_color;
        background-color: $section_head_bgcolor_top;
        background-image: -webkit-gradient(linear, left top, left bottom, from($section_head_bgcolor_top), to($section_head_bgcolor_bottom));
        background-image: -webkit-linear-gradient(top, $section_head_bgcolor_top, $section_head_bgcolor_bottom);
        background-image:    -moz-linear-gradient(top, $section_head_bgcolor_top, $section_head_bgcolor_bottom);
        background-image:     -ms-linear-gradient(top, $section_head_bgcolor_top, $section_head_bgcolor_bottom);
        background-image:      -o-linear-gradient(top, $section_head_bgcolor_top, $section_head_bgcolor_bottom);
        background-image:         linear-gradient(to bottom, $section_head_bgcolor_top, $section_head_bgcolor_bottom);
    }



    /* layout */
    #wpl_wrapper {
        width: 780px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 14px;
        font-family:Arial,Helvetica,sans-serif;
    }

    #wpl_store_header {       
        width:100%;
        overflow: hidden;
    }

    .wpl_description {
        padding: 0 30px 10px 0;
    }

    #wpl_main_image {
        height:370px;
        width:370px;
    }

    #wpl_main_image img {
        max-height:360px;
        max-width:350px;
        margin-top:0px;
    }

    /* image thumbnails - 3 columns */
    #wpl_list_images {
        text-align:center;
        margin-top:10px;
    }

    #wpl_list_images a {
        float:left;
        display:block;
        width:75px;
        height:75px;
        border: 1px solid #ccc;
        margin-left:10px;
        margin-right:10px;
        margin-bottom:20px;
        padding:12px; 
    }

    #wpl_list_images img {
        border:none;
        max-height: 75px;
        max-width: 75px;
        width: auto;
    } 



        
    #wpl_wrapper h2 {
        font-size: 24px;
        line-height: 30px;
    }

    #wpl_wrapper h3.bar {
        margin-top: 30px;
        margin-bottom: 20px;
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-family: Helvetica, Arial, sans-serif;
        -webkit-border-radius: $border_radius;
        -moz-border-radius: $border_radius;
        border-radius: $border_radius; 
    }

    #wpl_store_header .logo {
        float: left;    
    }
    #wpl_store_header .hotline {
        float: right;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        font-weight: bold;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 7px;
        -webkit-border-radius: $border_radius;
        -moz-border-radius: $border_radius;
        border-radius: $border_radius;
        text-decoration: none;
        text-shadow: 2px 2px 4px #713803;
        filter: dropshadow(color=#713803, offx=0, offy=1);
    }
    #wpl_wrapper .clearfix {
        clear:both;
    }

    #wpl_wrapper .main_section .primary{
        /*width: 250px;*/
        width: 50%;
        vertical-align: top;
        padding-right: 10px;
        text-align: center;
    }
    #wpl_wrapper .main_section .secondary{
        /*width: 490px;*/
        width: 50%;
        vertical-align: top;
        padding-right: 10px;
        font-size: 16px;
    }

    #wpl_wrapper .section p {
        padding-left: 10px;
        padding-right: 10px;
    }

    #wpl_wrapper .section big {
        font-size: 18px;
        font-weight: bold;
    }

    #wpl_wrapper .alignleft {
        float: left;
    }
    #wpl_wrapper .alignright {
        float: right;
    }

    /* these only apply in preview to override default styles from wp-admin */
    body.wp-admin #wpl_wrapper ul {
        list-style: disc inside none;
    }
    body.wp-admin #wpl_wrapper ul li {
        padding-left: 2em;
    }

